@model CommentVm

@{
    ViewData["Title"] = "Create";
}






<div style="background-color:gainsboro" class="container">
    <div class="card-body row">
        <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <h1 class="mb-5">Ustunlukler Bolmesi</h1>


            <div class="row">

                <div class="col-md-4 mb-2 ">
                    <label>CommentAz</label>
                    <textarea id="TextAz" name="CommentPostDto.Texts" type="text" class=" form-control "></textarea>
                    <input class="d-none" name="CommentPostDto.Keys" value="TextAz" />
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.CommentPostDto.Texts"></span>
                </div>

                <div class="col-md-4 mb-2 ">
                    <label>CommentEn</label>
                    <textarea id="TextEn" name="CommentPostDto.Texts" type="text" class=" form-control "></textarea>
                    <input class="d-none" name="CommentPostDto.Keys" value="TextEn" />
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.CommentPostDto.Texts"></span>
                </div>

                <div class="col-md-4 mb-2 ">
                    <label>Comment Ru</label>
                    <textarea id="TextRu" name="CommentPostDto.Texts" type="text" class=" form-control "></textarea>
                    <input class="d-none" name="CommentPostDto.Keys" value="TextRu" />
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.CommentPostDto.Texts"></span>
                </div>

                <div class="col-md-4 mb-2 ">
                    <label>User Adı</label>
                    <input asp-for="@Model.CommentPostDto.FullName"  type="text" class=" form-control "/>
                    <span class="mt-2 text text-danger" asp-validation-for="@Model.CommentPostDto.FullName"></span>
                </div>




                <div class="col-md-12 mt-3">
                    <a class="btn btn-dark" asp-controller="advantage" asp-action="index"><i class="fas fa-undo"></i> Geriyə</a>
                    <button type="submit" class="btn btn-primary">Yarat</button>
                </div>
            </div>



        </form>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("TextAz")
        CKEDITOR.replace("TextEn")
        CKEDITOR.replace("TextRu")
   

    </script>
}
